* {
  margin: 0;
  padding: 0;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: blueviolet;
  padding: 20px;
  color: white;
}

.nav-item {
  display: flex;
}

.nav-item li {
  list-style: none;
  padding: 0 10px;
  font-size: 20px;
  font-weight: bold;
}


#btn{
  margin-top: 20px;
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 10px;
  color: white;
  background-color: black;
  
}